# test
pytest==6.2.4
pytest-cov

# core
setuptools~=54.1.2
wheel
wheel-inspect
check-wheel-contents
twine

# data
pandas==1.2.4

# NLP
clean-text
tensorflow
word2vec~=0.11.1
nltk==3.6.2
spacy==3.0.6
transformers==4.6.1

# misc
dateparser

